<div id="<%= dom_id publication %>">
  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= publication.category.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= publication.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user.name %>
  </p>

</div>
